
        <nav class=navbar id=nav-foot>
            <ul>
                <li><a href="./home.html"><h3> Home  </h3></a></li>
                <li><a href="./contact.html"><h3> Contact </h3></a></li>
                <li><a href="./cart.html"><h3> Cart </h3></a></li>
            </ul>
            
        </nav>
        <ul class=footer-info>
            <li><a href="./contact.html#map">Adresse: 129 Rue Servient, 69003 Lyon</a></li>
            <li><a href="tel:0123456789"> Téléphone: 01 23 45 67 89</a>
            <li><a href="mailto:example@example.com?subject=Renseignement">example@example.com</a></li>
        </ul>

        <button onclick="topFunction()" id="scrollUp"><img src='../../resources/icons/arrowUp.png' alt='Haut' width=50px height=50px></button>
        


