table{
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(213, 238, 231);
    border:1px solid rgb(70, 86, 189);
    border-radius: 16px;
    padding: 10px;
}

tr{
    text-align: left;
    height: 30px;
}
.titre {
    font-size: 20px;
    text-align: left;
    height: 40px;
}

iframe{
    display: block;
    margin-left: auto;
    margin-right: auto;
    border:5px solid rgb(0, 0, 0);
}
